/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
    color: white;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:10px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#333;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
    text-decoration: none;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background:#4c4c4c;
    color: #00ffff;
    text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}
.highlight{
    color:red;
    font-weight: bold;
}
.tree_layout{
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/toc_help_pic.png) no-repeat;
    width: 100%; /* Width of new image */
    height: 300px; /* Height of new image */
}
.meta_settings{
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/tscom_meta_settings.png) no-repeat;
    width: 100%; /* Width of new image */
    height: 147px; /* Height of new image */
}
.tinymce_btn{
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/tscome_toc_tinymce_btn.png) no-repeat;
    width: 100%; /* Width of new image */
    height: 81px; /* Height of new image */
}
.help_title{
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.1em;
    font-weight: bold;
    color:black;
    margin: 0.2em 0;
}
.help_block{
    display: block;
    padding: 0.5em;
}
h2 {
    margin: 0;
    padding: 0.5em 0;
    color:#568945;
    font-family:Helvetica, Arial, Sans-serif;
}
p {
    margin: 0;
    padding: 0.4em 0;
    color:#686868;
    line-height:1.4em;
}
#content img.right {
    float: right;
    margin: 0 0 8px 8px;

}

#tscom-toc-wrap > h2 > a.nav-tab{
    padding: 0.5em 1em;
    line-height: 1.4em;
    font-weight: bold;

    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
}
.tab-lbl{
display:inline-block;
}
.nav-tab-active{
     border: 1px solid #fbd850;
     background-color: #fff;
     color: #eb8f00;
     border-bottom: 1px solid #fff;
  }
.nav-tab-inactive{
    border: 1px solid transparent;
    background-color: transparent;
    color: #1c94c4;
}
.nav-tab-inactive:hover{
     border: 1px solid #fbd850;
     background-color: transparent;
     color: #eb8f00;
     border-bottom: 1px solid #fff;
 }
#tscom-toc-wrap i{
margin-right:5px;
}
.error {color: #FF0000;}
#tscom-toc-wrap {
    margin: 1em auto;
    width: 50%;
    border: 4px solid #999;
    border-radius: 10px;
    background: #fff;
    font-size: 1em;
}
#tscom-toc-wrap .form_block{
    width:70%;
    margin:4% 15%;
}
.toc-hdr
{
    background-color: transparent;
    padding-left: 1em;
}
.hdr-title{
    float:left;
    margin: 1em 5% 0 0;
    font-weight: bold;
    font-size: 1.2em;
    width:70%;
    max-width:120px;
}
.icon-settings {
    background-image: url('../img/tech-smashing-fav.png') ;
    background-repeat: no-repeat;
    display: block;
    float: right;
    height: 33px;
    margin: 1em 5% 0;
    min-width:33px;
}
div.clear{
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    list-style: none;
}
.list-font-title{
    border-bottom:1px solid gray;
    padding: 0.5em 0;
    margin: 1em 0;
    float: left;
    width: 100%;
}
#list-fonts,
#title-fonts{
    display: block;
    margin-bottom: 1em;
}
.toc-submit
{
    text-align: center;
}
#tscom-toc-wrap select,
#tscom-toc-wrap input {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}
#tscom-toc-wrap select
{
    max-width:15em;
}
#toc_title_text,
#toc_google_api {
    margin-bottom: 10px;
    margin-top: 10px;
    width:100%;
    padding: 5px;
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -border-radius: 14px;
    border:1px solid #7ac9b7;
}
select{
    padding: 5px;
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -border-radius: 14px;
    border:1px solid #7ac9b7;

}
.toc_list_font,
.toc_title_font{
    margin-right:0.5em;
    float:left;
}
.color {
    border: 1em solid black;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: 2px;
}
#text_preview{
width:100%;
}
textarea{
    width:100%;
    padding: 15px;
    margin-top: 10px;
    border:1px solid #7ac9b7;
    border-radius:5px;
    margin-bottom: 20px;
    resize:none;
    font-family: Consolas, Monaco, monospace;
}
#tscom-toc-wrap label {
    float: left;
    font-weight: bold;
    margin-right: 0.5em;
}
#list-fonts .lbl-hide,
#title-fonts .lbl-hide{
    display: none;
}
.small-label{
    font-size: 0.8em;
    margin-left: 1em;
}
.toc-admin-text:focus,textarea:focus {
    border-color: #4697e4;
}
.custom-css{
    border-bottom:1px solid gray;
    padding: 0.5em 0;
    margin: 1em 0;
    float: left;
    width: 100%;
}
#color_wrap{
    margin-bottom: 1em;
}
.color_block{
    display:block;
    overflow: hidden;
    margin-top: 1em;
    clear: left;
}
.lbl,
.color-field{
    display:inline-block;
    overflow: hidden;
    width: 46%;
    margin-right:1% ;
}
#color_wrap .color-field{
padding: 5px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-border-radius: 14px;
border: 1px solid #7ac9b7;
}
.buttons{
    width: 94%;
    display: inline-block;
    background-color: #eee;
    border-top: 1px solid #ccc;
    padding: 3%;
}
.buttons:before,
.buttons:after {
    content: "";
    display: table;
}
.buttons:after {
    clear: both;
}
.buttons {
    *zoom: 1;
}
#toc-post-class > div.inside > table > tbody > tr > th{
    text-align: left;
}
@media screen and (min-width: 960px) {
    #tscom-toc-wrap {
        width:585px;
    }
}
@media screen and (max-width: 960px) {
    #tscom-toc-wrap {
        width:585px;
    }
}
@media screen and (max-width: 860px) {
    #tscom-toc-wrap {
        width:585px;
    }
    #tscom-toc-wrap .form_block{
        width:80%;
        margin:4% 10%;
    }
}
@media screen and (max-width: 782px) {
    #tscom-toc-wrap {
        width:585px;
    }
    #tscom-toc-wrap .form_block{
        width:90%;
        margin:4% 5%;
    }
}
@media screen and (max-width: 650px) {
    #tscom-toc-wrap {
        width:90%;
        border:none;
        margin: 5% 5%;
    }
    .tab-lbl{
	display:none;
     }
     h2 .nav-tab{
	font-size: 1.3em;
     }
    .block{
        margin-right:0.5em;
        float:none;
        display: block;
        margin: 0.5em;
    }
    .toc_list_font,
    .toc_title_font{
        float:none;
    }
    select{width:60%;}
    #list-fonts .lbl-hide,
    #title-fonts .lbl-hide{
        display: block;
        width: 15%;
        max-width: 3em;
        font-size: 1.1em;
    }
    label{
        font-size: 1.1em;
    }
    #tscom-toc-wrap .form_block{
        width:90%;
        margin:4% 5%;
    }

    .lbl,
    .color-field{
       overflow: hidden;
        width: 90%;
    }
}