@import url(toc-style.css);
@font-face {
font-family: 'raleway';
src: url('http://localhost/wordpress/wp-content/plugins/toc-for-series/css/fonts/raleway-regular-webfont.eot');
src: url('http://localhost/wordpress/wp-content/plugins/toc-for-series/css/fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('http://localhost/wordpress/wp-content/plugins/toc-for-series/css/fonts/raleway-regular-webfont.woff') format('woff'),
url('http://localhost/wordpress/wp-content/plugins/toc-for-series/css/fonts/raleway-regular-webfont.ttf') format('truetype'),
url('http://localhost/wordpress/wp-content/plugins/toc-for-series/css/fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
font-weight: normal;
font-style: normal;
}
#tscom-tree { background-color:#2C3E50;}
#tscom-tree .tree li a {
color:#46CFB0;
font-family: 'Raleway', 'sans-serif', 'raleway', Arial;
font-size:12px;
} 
#tscom-tree .tree li a {
font-weight:300;
} 
#tscom-tree .tree li a:hover,
.cur_post:hover {
background-color: #34BC9D;
color: #fff;
}
.cur_post,
.active {
background-color: #34495E;
color: #fff;
}
.tree-empty > span.toggler:before {  color:#46CFB0; }
.tree-closed > span.toggler:before { color:#46CFB0;  }
.tree-opened > span.toggler:before {  color:#46CFB0; }
#tscom-tree-title{
border-bottom:1px solid #34495E;
background-color: #34495E;
color: #854085;
font-size: 16px;
font-family: 'Roboto', 'sans-serif', 'raleway', Arial;
}
#tscom-tree-title {
font-weight:700;
} 

